/* .card {
    display: flex;
    border: 1px solid black;
    flex-flow: wrap;
    background-color: lightgrey;
    width: 150px;
} */


/* 
.character-list {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    align-items: center;
    background-color: red;
} */